<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is developed by Abhay sharma. It is a simple weather app that can be used to know the weather for any location. <br><br> It integrates data obtained from the weatherstack and mapbox API. The mapbox API converts the location into coordinates which are used by the weatherstack API to find the weather conditions of the entered location.</p>
        <img class="portrait" src="\img\me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>