@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(31, 41, 55); /* cool gray 800 */
  color: white;
  font-family: poppins, sans-serif;
}

header {
    margin-bottom: 10px;
}
.wrapper{
    min-height: 76vh;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 16px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.output {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
  /* background-color: #fff; */
  color: #fff;
  text-align: center;
  margin: 30px 0 10px 0;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 24rem;
  height: 18rem;
  border-radius: 10px;
  gap: 1rem;
  letter-spacing: 1px;
}

.container1 img {
  border-radius: 10px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 24rem;
  height: 18rem;
  font-size: 1.1rem;
  gap: 10px;
}

#message1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #888888;
  margin-top: 4px;
  /* border-top: 1px solid #eeeeee; */
  text-align: center;
}

.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 36px;
}

.icons{
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.icons img{
  width: 30px;
  height: 30px;
}
@media (max-width: 720px) {
  .output {
    flex-direction: column;
    gap: 0;
    height: 36rem;
    margin: 0;
  }

  .container1,
  .container2 {
    width: 24rem;
  }
  .container1{
    height: 15rem;
  }
  .container2{
      height: 14rem;
  }
}

@media (max-width: 420px) {
  #message1 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .container1,
  .container2 {
    font-size: 80%;
    width: 18rem;
  }
}